.root {
  background-color: #fff;
  min-height: 100vh;
  margin: auto;
  padding: 0 16px 40px;
}

.title {
  padding: 20px;
  font-size: 12vw;
  color: rgba(0, 0, 0, 0.8);
  margin: 40px 0;
}

.dot {
  height: 40vw;
  width: 40vw;
  border-radius: 100%;
  background-color: #1e1e1e;
  margin: 0 0 100px auto;
}

.text {
  padding: 20px;
  font-size: 8vw;
  color: #db0000;
}
